.wholePane
{
   -fx-background-color: #eeddff;
   -fx-hgap: 20;
   -fx-vgap: 20;
}

.lab
{
    -fx-label-padding: 5;
    -fx-background-color: transparent;
    -fx-background-image: url('./banana1.png');
    -fx-font-size: 25px;
}

.but
{
    -fx-background-color: #bbccee;
    -fx-font-size: 30px;
}

.button
{
    -fx-border-color: #112233;
    -fx-border-width: 5px;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
}